body {
  font-family: 'Nunito Sans', sans-serif;
  background: #2b2b2b;
}
.header,
.container {
  min-width: 272px;
  max-width: 1024px;
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
}
.header {
  margin-top: 3rem;
  /* border: 1px solid purple; */
  color: white;
  background-color: #4158d0;
  background-image: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-image: -moz-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-image: -o-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.header span {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
}
.container {
  background: #fff;
  box-shadow: inset 0 0 0 3px #d5d5d5;
}
.container h2 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .header span {
    display: inline;
    margin-left: 2rem;
  }
}
